<div class="bodywrapper">
  
  <div class="row left">

  <%= render 'layouts/sidebar' %>

  <div class="small-12 medium-9 columns">
    <h3><%= @entry.title %></h3>
    <%= raw @entry.description %>
  </div>
  </div>
</div>