<div class="bodywrapper">

  <div class="row left">


  <%= render 'layouts/unread' %>




  <div class="small-8 columns show-for-medium-up" id="right">    
    <h3><%= link_to @entry.title, @entry.link, :target => '_blank' %></h3>
    <p><%= @entry.published.to_formatted_s(:long_ordinal) %></p>
    <%= raw @entry.description %>
  </div>



  </div>
</div>
