<div class="bodywrapper">
<div class="row">
<div class="small-12 columns">
<div class="mainad">
  <p>Welcome to feemon.com!  <%= link_to 'Sign up', signup_path %> to start tracking popular websites that you choose.  Already signed up?  Then <%= link_to 'Login', signin_path %>! </p>
  </div>
</div>
</div>

<div class="row">
<div class="small-12 columns">
<%= render 'layouts/news' %>
</div>
</div>



</div>
