<div class="bodywrapper">
<div class="row">
<div class="small-12 columns">
<div class="mainad">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit lectus sit amet pulvinar lacinia. Nunc congue nisl eu est viverra volutpat. Proin porta rutrum enim, rhoncus ultrices ipsum condimentum ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque fringilla nulla vitae est tempus, sit amet dignissim justo mollis. Aenean volutpat ullamcorper magna nec venenatis. Sed nunc risus, vehicula quis tincidunt in, eleifend id orci.</p>
  <p>Fusce in dui quis purus bibendum facilisis. Pellentesque at faucibus justo. Ut aliquam urna nisi, facilisis fringilla mi vestibulum quis. Ut eu libero dui. Sed lectus massa, vehicula at viverra vitae, euismod at diam. Sed cursus sed arcu viverra tempor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque et dignissim nunc, in rutrum lacus. Integer vel metus elementum, rhoncus dolor non, fringilla augue.</p>
</div>
</div>
</div>

<div class="row">
<div class="small-12 columns">
<%= render 'layouts/news' %>
</div>
</div>



</div>
