<div class="bodywrapper">

  <div class="row left">

  <%= render 'layouts/sidebar' %>

  <div class="small-12 medium-9 columns show-for-medium-up">
    <%= render 'layouts/news' %>

  </div>
  </div>
</div>

<script type="text/javascript">
  $container.masonry('reloadItems')
  </script>
