<div class="bodywrapper">

<h3>Dashboard</h3>
<div class="row left">
  <div class="small-9 columns">
    <%= @user.name %><br>
    <%= @user.lastvisit %><br><br>
    <% @user.feeds.each do |feed| %>
      <%= feed.title %><br>
    <% end %>
    
    
  </div>
  <div class="small-3 columns show-for-medium-up">
    <div class="side-nav ">      
      <% @counts.each do |name, amount| %>
        <%= link_to "#{name}: #{amount}", @feed %><br>
      <% end %>
    </div>
  </div>
  
</div>

</div>