<div class="bodywrapper">

  <div class="row left">

  <%= render 'layouts/sidebar' %>

  <div class="small-12 medium-10 columns show-for-medium-up">
    <h3 id='storyheader'>Current News Stories</h3>
    <%= render 'layouts/news' %>

  </div>
  </div>
</div>
