<div class="row left">
  <div class="small-12 columns">

<div class="subnav">


<%= link_to 'Dash', dashboards_path %> > <%= @feed.title %> <%= link_to image_tag("check5.png", {:size=>"15", onmouseover: "this.src='#{asset_path('check5b.png')}'", onmouseout: "this.src='#{asset_path('check5.png')}'", :alt=>"Mark all read", :title=>"Mark all read"}) , markall_path%>




</div>
</div>
</div>
