<div class="row left">
  <div class="small-12 columns">

<div class="subnav">

<% if controller.controller_name == 'dashboards' && controller.action_name == 'dashfeed' %>
  <%= link_to 'Dashboard', dashboards_path %> > <%= @feed.title %>
<% end %>

</div>
</div>
</div>
