<div class="row left">
  <div class="small-12 columns">

<div class="subnav">

<% if controller.controller_name == 'dashboards' && controller.action_name == 'dashfeed' %>
  <%= link_to 'Dashboard', dashboards_path %> > <%= @feed.title %> | <%= link_to image_tag("check2.png", {:size=>"20",:class=>"check",:alt=>"Mark all read", :title=>"Mark all read"}) , markall_path%>
<% end %>

</div>
</div>
</div>
