<div class="row left">
  <div class="small-12 columns">

<div class="subnav">

<% if controller.controller_name == 'dashboards' && controller.action_name == 'dashfeed' %>
  <%= link_to 'Dash', dashboards_path %> > <%= @feed.title %> <%= link_to image_tag("check3.png", {:size=>"15", onmouseover: "this.src='#{asset_path('check4.png')}'", onmouseout: "this.src='#{asset_path('check3.png')}'", :alt=>"Mark all read", :title=>"Mark all read"}) , markall_path%>
<% end %>

</div>
</div>
</div>
