<div class="small-4 columns">
  <p><%= link_to 'Dashboard', dashboards_path %> > <%= @feed.title %></p>
  <% @unread.each do |entry| %>
    <%= link_to(feed_entry_path(@feed, entry.entry_id)) do %>  
      <div class="entry-nav"><%= entry.entry_title %></div>
    <% end %>    
  <% end %>
  </div>